* {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin: 10px 50px 10px 50px;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
  }

.center{
    text-align: center;
    margin: auto;
}

.hidden{
    display: none;
}

.side {
    flex: 30%;
    background-color: #f5eec2;
    padding: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main {
    flex: 69%;
    background-color: #f5eec2;
    padding: 20px;
}


@media screen and (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}
